<h1>その他の方宛ての贈り物</h1>
<% @presents.each do |t| %>
  <% if t.sex2 == "その他の方宛て" %> 
  <%= link_to t.user.name, user_path(t.user.id) %>
  <%= t.user.name %> 

 
  <%= image_tag t.image_url, size: "250x200" if t.image? %>
    <%= t.present_name %>
    <%= t.sex %>
    <%= t.sex2 %>
    <%= t.relation %>
    <%= t.situation %>
          
  <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
            <%= button_to present_like_path(id: t.id, present_id: t.id), method: :delete do %>
              <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% else %>
            <%= button_to present_likes_path(id: t.id, present_id: t.id), method: :post do %>
              <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% end %>
        <% else %>
          <i class="far fa-heart"></i><%= t.likes.count %>
        <% end %>
        
        
        <%= t.created_at %>
        <%= link_to "詳細へ", present_path(t.id) %>
        <%= link_to "編集する", edit_present_path(t.id) %>
        <%= button_to "削除する", present_path(t.id), method: :delete %>
      </div>
  <% end %>
<% end %>

<%= link_to "Present一覧に戻る", presents_path %>